div{
    background-color: rgb(83, 83, 231);
    padding: 20px;
    color: antiquewhite;
    border-top: 30px solid rgb(155, 252, 10);
    border-radius: 10px;
    margin: 50px;
    font-size: x-large;
}
